* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html {  
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

/* HEADER */

header {
    display: flex;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 100px;
    padding: 80px 100px 100px 100px;
    display: flex;
    gap: 100px;
}

.score-container {
    display: flex;
    flex-direction: column;
}

.player-score-displayer,
.pc-score-displayer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 50px;
    color: #373E40;
}

.player-score,
.pc-score {
    display: flex;
    align-items: center;
    color: #373E40;
}

/* MAIN */ 

main {
    margin-top: 0px;
    height: 560px;
}

.reset-btn {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.reset-game {
    padding: 10px 20px;
    border-radius: 8px;
    background: #33DDFF;
    border: 1px solid #33DDFF;
    color: #373E40;
    cursor: pointer;
}

#round-status {
    font-size: 50px;
    font-weight: 900;
}

.status-displayer {
    margin-top: 20px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
}

.game {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.rock,
.paper,
.scissors {
    cursor: pointer;
    background: transparent;
    border: transparent;
    font-size: 50px;
}


/* FOOTER */

footer {
    margin-top: 76px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.github-link {
    text-decoration: none;
    color: black;
}